.homepage-wrapper {
    display: block;
    margin: auto;
    max-width: 90%;
    text-align: center;
}

.catImg {
    max-height: 80%;
    max-width: 80%;
}

.likeCatBtn {
    display: inline-block;
    margin: auto;
    background-color: #343035;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.dislikeCatBtn {
    display: inline-block;
    margin: auto;
    margin-right: 5%;
    background-color: #343035;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button-wrapper{
    padding: 10px;
    display: flex;
    margin: auto;
    justify-items: center;
}

.button-wrapper ul{
    margin: auto;
    text-align: center;
    width: 30%;
}

.button-wrapper ul li{
    margin: auto;
    margin-top: 5%;
    width: 50%;
}

.deleteButton{
    margin: auto;
    display: block;
    width: 100%;
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.likedCatsLink{
    margin: auto;
    display: block;
    width: auto;
    background-color: #309c30;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

@media only screen and (max-device-width: 600px) {
    .button-wrapper{
        padding: 10px;
        display: flex;
        margin: auto;
        justify-items: center;
    }
    
    .button-wrapper ul{
        margin: auto;
        text-align: center;
        width: 30%;
    }
    
    .button-wrapper ul li{
        margin: auto;
        margin-top: 5%;
        width: 100%;
    }
    
    .deleteButton{
        margin: auto;
        display: block;
        width: 100%;
        background-color: #ff0000;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 11px;
        cursor: pointer;
    }
    
    .likedCatsLink{
        margin: auto;
        display: block;
        width: auto;
        background-color: #309c30;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 11px;
    }
}