/** Now Playing **/

.main-wrapper{
    display: block;
    margin: auto;
    margin-top: 2%;
}

.now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.now-playing__artist {
    margin-bottom: 1em;
}

.now-playing__status {
    margin-bottom: 1em;
}

.now-playing__img {
    display: block;
    margin: auto;
    width: 45%;
}

.now-playing__img img {
    max-width: 80vmin;
    width: 100%;
}

.now-playing__side {
    margin: auto;
    width: 45%;
}

/** Progress **/

.progress {
    border: 1px solid rgb(128, 128, 128);
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
}

.progress__bar {
    background-color: rgb(10, 10, 10);
    height: 4px;
}