
.card{
    height: 450px;
    width: 350px;
    padding: 1.5rem;  
    display: grid;
    grid-template-rows: 80% 20%;
    background: black;
    min-width: 200px;
    max-width: 450px;
    border-radius: 50px;
}
.card-image{
    border: solid;
    border-color: aliceblue;
    border-radius: 50px;
    width: 100%;
    justify-self: center;
    margin-bottom: 1.5rem;
}
.card-name{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: aliceblue;
    border-radius: 50px;
}

p{
    color: white;
}
